html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-3 {
  width: 31.5%;
}

.layout {
  max-width: 117rem;
  margin: auto;
  justify-content: space-between;
}

/* Header */
header {
  background: #222;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #000;
}

header li {
  padding: 1.5rem;
}

header a {
  color: #9d9d9d;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 20px;
}

header a.active {
  color: #fff;
}

header a:hover {
  color: #fff;
}

header .layout > a {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.5rem;
}

/* Main */
.container {
  background: url(../img/background.jpg) top left/cover no-repeat;
  margin-top: 5rem;
  min-height: 100vh;
}

.main-header {
  color: #fff;
  text-align: center;
}

.main-header h1 {
  font: 5.5rem Lato, sans-serif;
  font-weight: 600;
  padding-top: 8rem;
  margin-bottom: 4.8rem;
}

.main-header p {
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

.main-header .link {
  margin: auto;
  justify-content: center;
}

.main-header a {
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 1.6rem;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  margin-right: 0.6rem;
}

.main-header i {
  margin-right: 0.4rem;
}

.main-header a:nth-child(1) {
  background: #31b0d5;
}

.main-header a:nth-child(1):hover {
  background: #2d9ec0;
}

.main-header a:nth-child(2) {
  background: #449d44;
}

.main-header a:nth-child(2):hover {
  background: #419741;
}

.main-header a:nth-child(3) {
  background: #e6e6e6;
  color: #333;
  margin-right: 0;
}

.main-header a:nth-child(3):hover {
  background: #d4d4d4;
}

#about::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eee;
}

#about h2 {
  font: 5.4rem Lato, sans-serif;
  font-weight: 700;
  color: #333;
  text-align: center;
  padding: 2rem 0;
  margin-top: 4rem;
}

#about .about-info {
  justify-content: space-around;
  margin-bottom: 5rem;
}

#about .about-info div {
  padding: 1rem;
}

#about img {
  border: 3px solid #858585;
  border-radius: 50%;
  width: 70%;
  display: block;
  margin: auto;
}

#about img:hover {
  border-radius: 0;
}

#about p {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.5;
}

#about a {
  color: #337ab7;
}

#about a:hover {
  text-decoration: underline;
  color: #23527c;
}

#about h4 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  line-height: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
}

#portfolio {
  text-align: center;
  color: #333;
}

#portfolio h2 {
  font: 4.8rem Lato, sans-serif;
  font-weight: 700;
  padding-top: 6.5rem;
  margin-bottom: 3rem;
}

#portfolio p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

#portfolio li {
  border: 1px solid #d4d4d4;
  padding: 0.4rem;
}

#portfolio li:hover {
  background: #333;
  color: #fff;
}

#portfolio img {
  width: 100%;
}

#portfolio li h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2rem 0 1rem 0;
}

#portfolio li p {
  font-size: 1.6rem;
  font-style: italic;
}

#contact {
  margin-top: 2rem;
  background: #333;
}

#contact h4 {
  font-size: 2.4rem;
  color: #fbfbfb;
  font-weight: normal;
  padding: 3rem 0;
}

#contact a {
  font-size: 1.6rem;
  font-weight: 600;
  background: #4db14d;
  color: #fff;
  padding: 1rem 1.4rem;
  border-radius: 0.4rem;
  line-height: 8.8rem;
}

#contact a:hover {
  background: #449d44;
}

/* Footer */
footer {
  background: #000;
  color: #79797b;
  text-align: center;
}

footer ul.row {
  padding-top: 2.4rem;
  justify-content: center;
  margin-bottom: 3.6rem;
}

footer li {
  font-size: 1.5rem;
  padding: 0 1rem;
}

footer a {
  color: #79797b;
  font-weight: 600;
}

footer a:hover {
  color: #fff;
}

footer p {
  color: #555;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
}

@media screen and (max-width: 1024px) {
  .layout {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    width: 94%;
  }
  #about .about-info {
    display: block;
  }
  #about img {
    width: 36%;
  }
  #about .about-info div {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .layout {
    width: 87%;
  }
  .row {
    display: block;
  }
  .col-3 {
    width: 100%;
  }
  header ul.row {
    display: none;
    position: absolute;
    top: 5.1rem;
    right: 0;
    text-align: right;
    background: #222;
    padding-right: 1.2rem;
    overflow: hidden;
  }
  header div {
    padding: 1.45rem 0;
  }
  header .layout > a {
    padding: 0;
  }
  header i {
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    border: 1px solid #383838;
    border-radius: 4px;
    font-size: 2rem;
    color: #fff;
    padding: 0.6rem 1rem;
    width: 20px;
  }
  header i:hover {
    background: #383838;
  }
  header i:hover ~ ul {
    display: block;
    animation: ani 0.5s ease;
    transition: all 1s ease;
  }
  .main-header .link a {
    display: block;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  #contact div {
    text-align: center;
  }
  #contact h4 {
    padding: 1rem 0;
  }
  #contact a {
    padding: 2rem 6rem;
  }
  footer li {
    margin-bottom: 1.2rem;
  }
}

@keyframes ani {
  from {
    height: 0;
  }
  to {
    height: 100px;
  }
}
